* {
	box-sizing: border-box;
	/*padding: 0;
	margin: 0;*/
	scroll-behavior: smooth;
	font-family: "Vollkorn", serif;
}

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background: #ccc;
}

.landing-title {
	position: fixed;
	bottom: 0;
	right: 0;

	margin-bottom: 50px;
	margin-right: 70px;
}

.landing-title h1 {
	font-size: 3rem;
	line-height: 1em;
	text-align: right;
	display: inline-block;

	margin: unset;
}

.links-container {
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 50px;
	margin-left: 70px;
}

.links-container a {
	display: block;
	font-size: 1.3em;
}

.back-button {
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 50px;
	margin-left: 70px;
}

.description-container {
	position: fixed;
	top: 0;
	right: 0;
	margin-top: 50px;
	margin-right: 70px;
	width: 40%;
}

.description-container p {
	text-align: right;
}
